.x-grid-cell-inner{
    text-align: left !important;
    /* text-transform: capitalize !important; */
}

.fa-eye{
    margin-left: 10px;
}

.fa-pencil-square{
    margin-left: 10px;
    margin-right: 10px;
}

#form-1058-innerCt{
    align-items: center !important;
    justify-content: center !important;
}

.red{
    color: #ff0000;
}

.green{
    color: #5cb85c;
}

.blue{
    color: #3366ff;
}

.x-tool-tool-el{
    display: none;
}

td {
    border: 0.5px solid black;
}

table{
    border-bottom: 1px solid black;
}

/* .errorField{
    border:1px solid red;
} */