.x-grid-cell-inner{
    text-align: left !important;
    /* text-transform: capitalize !important; */
}

.fa-pencil-square{
    margin-right: 20px;
    margin-left: 20px;
}

#form-1058-innerCt{
    align-items: center !important;
    justify-content: center !important;
}

.red{
    color: #ff0000;
}

.blue{
    color: #3366ff;
}